doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title User Management
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet')
  style.
    /* Custom CSS for sticky sidebar */
    html,
    body {
    height: 100%;
    }
    .sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    }
    .nav-group > .nav-item:hover {
    background: rgb(69 78 87);
    }


button.btn.btn-outline-primary(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasExample' aria-controls='offcanvasExample')
  | Ch&#x1EE9;c n&abreve;ng =&gt;
#offcanvasExample.offcanvas.offcanvas-start(tabindex='-1' aria-labelledby='offcanvasExampleLabel')
  .offcanvas-header.bg-dark.text-white
    h5#offcanvasExampleLabel.offcanvas-title
      | Dashee
    button.btn-close.text-reset(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
  .offcanvas-body.bg-dark.text-white
    ul.nav.nav-pills.flex-column.mb-auto.nav-group
      li.nav-item
        a.nav-link.text-white(href='/' aria-current='page') Home
      li.nav-item
        a.nav-link.text-white(href='#' aria-current='page') User Management
      li.nav-item
        a.nav-link.text-white(href='#') Permissions &amp; Accounts
.container-fluid
  .row.flex-nowrap
    main.col-md-12.col-sm-12.px-4
      .d-flex.justify-content-between.align-items-center.mt-4
        h1.h1.titlePage Quản trị viên trang
      .input-group.mt-3
        input#searchInput.form-control(type='text' placeholder='Search...')
        button#searchButton.btn.btn-outline-success(type='button') Tìm kiếm
      .table-responsive.mt-4
        table.table.table-hover.table-responsive
          thead
            tr
              th(scope='col') Name
              th(scope='col') User Role
              th(scope='col') Actions
          tbody#user-table
      .d-flex.justify-content-between.align-items-center.mt-4
        style.
          @media (max-width: 768.98px) {
            #showingInfo {
              display: none; 
            }
          }
        p#showingInfo.text-muted() Showing 0 of 0 total Users
        nav(aria-label='Page navigation')
          ul#pagination.pagination
        .input-group(style='width: 100px;')
          input#pageInput.form-control(type='number' min='1' max='1' value='1')
          button.btn.btn-primary(onclick='goToPage()') Go
// Edit User Modal
#editUserModal.modal.fade(tabindex='-1' aria-labelledby='editUserModalLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h5#editUserModalLabel.modal-title
          | Edit User Information
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        // Edit user form will be inserted here
        form#editUserForm()
          .mb-3
            label.form-label(for='editUsername') Username
            input#editUsername.form-control(type='text' name='username' readonly='')
          .mb-3
            label.form-label(for='editUserFullName') Fullname
            input#editUserFullName.form-control(type='text' name='fullname')
          .mb-3
            label.form-label(for='editEmail') Email
            input#editEmail.form-control(type='email' name='email')
          .mb-3
            label.form-label(for='editPhone') Phone
            input#editPhone.form-control(type='text' name='phone')
          .mb-3
            div#wrapperEditRole
          button#btnSubmit.w-100.btn.btn-primary(type='submit')
            | Save Changes
script(src='https://code.jquery.com/jquery-3.6.0.min.js')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js')

script.
  var mockData = !{data}

script(src="/javascript/admin/manageUser.js") 