include ../../main.pug
link(href='/css/device/createDevice.css' rel='stylesheet')

script.
  const data = {
   imageUrl: [`/public/images/tivi1.jpg`,
    "/public/images/tivi2.jpg",
    "/public/images/tivi3.jpg"]
  }

section.container
  h2.text-center.mb-4 &Dstrok;&abreve;ng k&yacute; Thi&#x1EBF;t b&#x1ECB;
  .form-container
    form#deviceRegistrationForm(action='./add' method='post' enctype='multipart/form-data')
      .mb-3
        label.form-label(for='deviceName') T&ecirc;n thi&#x1EBF;t b&#x1ECB;: (devices.name)
        input#deviceName.form-control(value='Tivi Sam sung' type='text' name='deviceName' required='')
      .mb-3
        label.form-label(for='deviceType') Lo&#x1EA1;i thi&#x1EBF;t b&#x1ECB;: (devices.type)
        input#deviceType.form-control(value='Tivi' type='text' name='deviceType' required='')
      .mb-3
        label.form-label(for='serialNumber') S&#x1ED1; Serial: (devices._id)
        input#serialNumber.form-control(value='TV000001' type='text' name='serialNumber' required='')
      .mb-3
        #qr-reader(style='max-width: 100%;')
        #qr-reader-results
        
      .mb-3
        label.form-label(for='deviceStatus') Tr&#x1EA1;ng th&aacute;i thi&#x1EBF;t b&#x1ECB;: (devices.status)
        select#deviceStatus.form-select(name='deviceStatus' required='')
          option(value='' disabled='' selected='') --Ch&#x1ECD;n--
          option(value='new' selected='') M&#x1EDB;i
          option(value='likeNew') H&agrave;ng &dstrok;&atilde; qua s&#x1EED; d&#x1EE5;ng
      .mb-3
        label.form-label(for='deviceInitStatus') Tr&#x1EA1;ng th&aacute;i: (devices.initStatus)
        select#deviceInitStatus.form-select(name='deviceInitStatus' required='')
          option(value='' disabled='' selected='') --Ch&#x1ECD;n--
          option(value='used') &Dstrok;&atilde; m&#x1B0;&#x1EE3;n
          option(value='notused' selected='') Ch&#x1B0;a m&#x1B0;&#x1EE3;n
      .mb-3
        label.form-label(for='imageSelect') Ch&#x1ECD;n &#x1EA3;nh thi&#x1EBF;t b&#x1ECB;:
        select#imageSelect.form-select(onchange='changeImage(this)')
          option(value='' disabled='' selected='') --Ch&#x1ECD;n &#x1EA3;nh--
      .mb-3
        label.form-label(for='deviceUrlImg') &#x1EA2;nh thi&#x1EBF;t b&#x1ECB;: (devices.imageUrl)
        //- accept='image/*'
        input#deviceUrlImg.form-control(type='file' name='deviceUrlFile' onchange='imageRender.src = window.URL.createObjectURL(this.files[0])')
        .warrper.text-center
          img#imageRender(style='max-width: 100%' src='' alt='')
      
      .mb-3
        label.form-label(for='deviceVideo') Video thi&#x1EBF;t b&#x1ECB;: (devices.videoUrl)
        input#deviceVideo.form-control(type='file' name='deviceUrlFile' accept='video/*' onchange='renderVideo(this)')
        video#videoRender(controls='' style='max-width: 100%; display: none;')
          // Nếu trình duyệt không hỗ trợ video, thông báo sẽ hiển thị ở đây
          | Tr&igrave;nh duy&#x1EC7;t c&#x1EE7;a b&#x1EA1;n kh&ocirc;ng h&#x1ED7; tr&#x1EE3; ph&aacute;t video.
      
      .mb-3
        label.form-label(for='deviceLocation') V&#x1ECB; tr&iacute;: (devices.location)
        input#deviceLocation.form-control(value='P0E2' type='text' name='deviceLocation' required='')
      .mb-3
        label.form-label(for='deviceSupplier') Select Supplier
        select#deviceSelect.form-select(name='deviceSupplier')
          option(value='' selected='' disabled='') Select Device
          each supplier in suppliers
            option(value=supplier) #{supplier}
      .mb-3
        label.form-label(for='deviceHistory') L&#x1B0;u &yacute; l&#x1ECB;ch s&#x1EED; m&#x1B0;&#x1EE3;n tr&#x1EA3; thi&#x1EBF;t b&#x1ECB;: (devices.history)
        input#deviceHistory.form-control(type='text' name='deviceHistory')
      .mb-3
        label.form-label(for='purchaseDate') Ng&agrave;y mua thi&#x1EBF;t b&#x1ECB;: (device.purchaseDate)
        input#purchaseDate.form-control(type='date' name='purchaseDate' required='')
      .mb-3
        label.form-label(for='warrantyExpiry') Ng&agrave;y h&#x1EBF;t h&#x1EA1;n: (device.warrantyExpiry)
        input#warrantyExpiry.form-control(type='date' name='warrantyExpiry' required='')
      button.btn.btn-primary(type='submit') &Dstrok;&abreve;ng k&yacute;

script(src='https://unpkg.com/html5-qrcode')
script(src="/javascript/device/createDevice.js") 