include ../../main.pug
link(href='/css/device/loanDevice.css' rel='stylesheet')

.container.mt-5
  .content
    h2.mb-4 Borrow Device Form
    form#borrowForm(action='/device/loan' method='post' enctype='multipart/json')
      .mb-3
        label.form-label(for='deviceSelect') Select Device
        select#deviceSelect.form-select(name='deviceId' required='')
          option(value='' selected='' disabled='') Select Device
      #deviceInfo.mb-3
        // Device info will be displayed here
      .mb-3
        label.form-label(for='loanDate') Ng&agrave;y M&#x1B0;&#x1EE3;n:
        input#loanDate.form-control(type='date' name='loanDate' required='')
      .mb-3
        label.form-label(for='returnDate') Ng&agrave;y Tr&#x1EA3; (D&#x1EF1; ki&#x1EBF;n):
        input#returnDate.form-control(type='date' name='returnDate' required='')
      button.btn.btn-primary(type='submit') Submit

script.
  var data = !{data}
script(src="/javascript/device/loanDevice.js") 