include ../../main.pug
link(href='/css/device/returnDevice.css' rel='stylesheet')
  
section.container
  h2.text-center.mb-4 Tr&#x1EA3; Thi&#x1EBF;t b&#x1ECB;
  .form-container
    form#returnDeviceForm(action='/device/return' method='post' enctype='multipart/json')
      .mb-3
        label.form-label(for='deviceSelect') Ch&#x1ECD;n Thi&#x1EBF;t b&#x1ECB;:
        select#deviceSelect.form-select(name='deviceId' required='')
          option(value='' disabled='' selected='') --Ch&#x1ECD;n thi&#x1EBF;t b&#x1ECB;--
          // JavaScript will populate options from mockdata
      .mb-3
        label.form-label(for='returnDate') Ng&agrave;y Tr&#x1EA3;:
        input#returnDate.form-control(type='date' name='returnDate' required='')
      button.btn.btn-primary(type='submit') Tr&#x1EA3; Thi&#x1EBF;t b&#x1ECB;
script.
  // Mock data for device names
  var mockData = {
  devices: !{data}
  };
  

script(src="/javascript/device/returnDevice.js") 