include ../../main.pug
//- link(href='/css/device/loanDevice.css' rel='stylesheet')
style.
  /* Custom styles */
  .card {
  margin-bottom: 20px;
  }
  .row-cols-1 > * {
  margin-bottom: 10px; /* Adjust margin between rows */
  }
  .deviceTypeList > li:hover {
    cursor: pointer;
  }

  .nav-bar-desktop > li:hover {
    background: #0d6efd;
    color: white;
  }

  .nav-bar-tablet-mobile > li {
    background-color: rgb(33 37 41);
    border: none;
    color: white;
  }

  .nav-bar-tablet-mobile > li:hover {
    background: rgb(69 78 87);
  }

.container-fluid
  .content
    h2 Trả thiết bị
    .row
      // Sidebar
      #sidebar.col-md-3.sidebar
        span.btn.btn-outline-success.d-md-none(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasExample' aria-controls='offcanvasExample')
          | Chọn loại thiết bị
        
        #offcanvasExample.offcanvas.offcanvas-start(tabindex='-1' aria-labelledby='offcanvasExampleLabel')
          .offcanvas-header.bg-dark.text-white
            h5#offcanvasExampleLabel.offcanvas-title Dashee
            button.btn-close.text-reset(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
          .offcanvas-body.bg-dark.text-white
            ul.nav.nav-pills.flex-column.mb-auto.nav-group#deviceTypeList.deviceTypeList.list-group.nav-bar-tablet-mobile
              // Device types will be inserted here dynamically
        // Device type list
        .d-none.d-md-block
          ul#deviceTypeList.deviceTypeList.list-group.nav-bar-desktop
            // Device types will be inserted here dynamically
      // Main content
      .col-md-9
        // Search input
        .input-group.mb-3
          input#searchInput.form-control(type='text' placeholder='Search...' aria-label='Search')
          button#searchButton.btn.btn-outline-success(type='button') T&igrave;m ki&#x1EBF;m
        // Device cards container
        .container
          #deviceContainer.row.row-cols-1.row-cols-md-2.row-cols-lg-3.g-2.mt-1
            // Device cards will be inserted here dynamically
        // Pagination
        nav(aria-label='Page navigation')
          ul#pagination.pagination.justify-content-center


// Modal
#exampleModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title Modal title
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      #modalBody.modal-body
        // Modal content will be inserted here dynamically
    
script.
  const mockData = !{data}
  const deviceTypes = !{deviceTypes}

script(src="/javascript/device/returnDevice.js") 