include ../../main.pug
link(href='/css/report/loanRecord.css' rel='stylesheet')
  
.container.mt-5
  h1.text-center.mb-4 Loan Records
  .row.mb-3
    .input-group
      input#searchInput.form-control(type='text' placeholder='Search...')
      button#searchButton.btn.btn-outline-success Tìm kiếm
  
  .form-check.form-switch
    .mt-3
      input#flexSwitchCheckDefault.switchRetrieveAllData.form-check-input(type='checkbox' role='switch')
      label.form-check-label(for='flexSwitchCheckDefault') Hiển thị tất cả
  .table-responsive
    table.table.table-striped
      thead
        tr
          th #
          th Device
          th Username
          th Borrowed At
          th Actual Return Date
          th Status
      tbody#loanTableBody
        .warrper.text-center
          #spinner.spinner-border.text-primary(role='status')
                span.visually-hidden Loading...
  nav
    ul#pagination.pagination.justify-content-center

script.
  var mockData = !{data};

script(src="/javascript/report/loanRecord.js") 