include ../../main.pug
link(href='/css/report/loanRecord.css' rel='stylesheet')
  
.container.mt-4
  h1 Loan Record table
  .mb-3
    input#searchInput.form-control(type='text' placeholder='Search by Username or Device ID')
  table.table.table-striped.mt-4
    thead
      tr
        th Username
        th Device ID
        th Borrowed At
        th Returned At
        th Status
        th Notes
    tbody#dataBody
      // Dữ liệu sẽ được thêm vào đây bằng JavaScript
script.
  const mockData = !{data};

script(src="/javascript/report/loanRecord.js") 