include ../../main.pug
link(href='/css/report/loanRecord.css' rel='stylesheet')

.container.mt-5
  h1.text-center.mb-4 Quản lý lịch sử mượn trả
  .row.mb-3
    .input-group
      input#searchInput.form-control(type='text' placeholder='Search...')
      button#searchButton.btn.btn-outline-success Tìm kiếm
    //- .d-flex.mb-3.mt-3
    //-   button#downloadBtn.btn.badge.bg-primary() Xuất xlsx file
    //-   button#downloadBtn.btn.badge.bg-info.ms-3(onclick="window.location.href = '/sendemail'") Gửi email
  .form-check.form-switch
    .mt-3
      input#flexSwitchCheckDefault.switchRetrieveAllData.form-check-input(type='checkbox' role='switch')
      label.form-check-label(for='flexSwitchCheckDefault') Hiển thị tất cả
  .table-responsive
    table.table.table-striped
      thead
        tr
          th #
          th Thiết bị
          th Tên người dùng
          th Ngày mượn
          th Ngày trả (dự kiến)
          th Ngày trả (thực tế)
          th Trạng thái
          th Chức năng
      tbody#loanTableBody
        .warrper.text-center
          #spinner.spinner-border.text-primary(role='status')
                span.visually-hidden Loading...
  
  .d-flex.justify-content-between.justify-content-center.align-items-center.mt-4.mb-4
    style.
      @media (max-width: 768.98px) {
        #showingInfo {
          display: none; 
        }
      }
    p#showingInfo.text-muted() Showing 0 of 0 total Users
    nav(aria-label='Page navigation')
      ul#pagination.pagination(style='margin-bottom: unset')

    .input-group(style='width: 100px;')
      input#pageInput.form-control(type='number' min='1' max='1' value='1')
      button.btn.btn-primary(onclick='goToPage()') Go
      // Data will be dynamically inserted here

// Modal for displaying supplier details
#recordModal.modal.fade(tabindex='-1' aria-labelledby='recordModalLabel' aria-hidden='true')
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        h5#recordModalLabel.modal-title Thông tin chi tiết
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        div#updateRecordForm
          .mb-3
            a#btnCallUser.btn.badge.bg-success(href='')
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512' style="width: 12px;")
                // !Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.
                path(fill='#ffffff' d='M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z')


              span.ms-2 Gọi điện

            a#btnSendMailUser.btn.badge.bg-light.text-dark.ms-3(href='') 
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512' style="width: 18px;")
                // !Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.
                path(d='M64 112c-8.8 0-16 7.2-16 16v22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1V128c0-8.8-7.2-16-16-16H64zM48 212.2V384c0 8.8 7.2 16 16 16H448c8.8 0 16-7.2 16-16V212.2L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64H448c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128z')

              span.ms-2 Gửi email
          .mb-3
            label.form-label(for='fullname') Tên đầy đủ
            input#fullname.form-control(type='text' name='fullname' readonly='')
          .mb-3
            label.form-label(for='username') Tên người dùng
            input#username.form-control(type='text' name='username' readonly='')
          .mb-3
            label.form-label(for='device') Thiết bị 
            input#device.form-control(type='text' name='device' readonly='')
          .mb-3
            label.form-label(for='borrowedAt') Mượn vào lúc
            input#borrowedAt.form-control(type='text' name='borrowedAt' readonly='')
          .mb-3
            label.form-label(for='expectedReturnDate') Ngày trả dự kiến
            input#expectedReturnDate.form-control(type='text' name='expectedReturnDate' readonly='')
          .mb-3
            label.form-label(for='actualReturnDate') Ngày trả (thực tế)
            input#actualReturnDate.form-control(type='text' name='actualReturnDate' readonly='')
          .mb-3
            label.form-label(for='transactionStatus') Trạng thái
            input#transactionStatus.form-control(type='text' name='transactionStatus' readonly='')
          .mb-3
            .form-image
            
          .mb-3
            .form-video



script.
  var mockData = !{data};
script.

script(src="/javascript/report/loanRecord.js") 