include ../../main.pug
link(href='/css/report/loanRecord.css' rel='stylesheet')
  
.container.mt-5
  h1.text-center.mb-4 Quản lý lịch sử mượn trả
  .row.mb-3
    .input-group
      input#searchInput.form-control(type='text' placeholder='Search...')
      button#searchButton.btn.btn-outline-success Tìm kiếm
  
  .form-check.form-switch
    .mt-3
      input#flexSwitchCheckDefault.switchRetrieveAllData.form-check-input(type='checkbox' role='switch')
      label.form-check-label(for='flexSwitchCheckDefault') Hiển thị tất cả
  .table-responsive
    table.table.table-striped
      thead
        tr
          th #
          th Device
          th Username
          th Borrowed At
          th Expected Return Date
          th Actual Return Date
          th Status
      tbody#loanTableBody
        .warrper.text-center
          #spinner.spinner-border.text-primary(role='status')
                span.visually-hidden Loading...
                
  .d-flex.justify-content-between.justify-content-center.align-items-center.mt-4.mb-4
    style.
      @media (max-width: 768.98px) {
        #showingInfo {
          display: none; 
        }
      }
    p#showingInfo.text-muted() Showing 0 of 0 total Users
    nav(aria-label='Page navigation')
      ul#pagination.pagination(style='margin-bottom: unset')
  
    .input-group(style='width: 100px;')
      input#pageInput.form-control(type='number' min='1' max='1' value='1')
      button.btn.btn-primary(onclick='goToPage()') Go
      // Data will be dynamically inserted here

script.
  var mockData = !{data};

script(src="/javascript/report/loanRecord.js") 