include ../../main.pug
link(href='/css/report/loanRecord.css' rel='stylesheet')

.container.mt-5
  h1.text-center.mb-4 Quản lý lịch sử mượn trả
  .row.mb-3
    .input-group
      input#searchInput.form-control(type='text' placeholder='Search...')
      button#searchButton.btn.btn-outline-success Tìm kiếm
    .d-flex.mb-3.mt-3
      button#downloadBtn.btn.badge.bg-primary() Export xlsx file
      button#downloadBtn.btn.badge.bg-info.ms-3(onclick="window.location.href = '/sendemail'") Send email
  .form-check.form-switch
    .mt-3
      input#flexSwitchCheckDefault.switchRetrieveAllData.form-check-input(type='checkbox' role='switch')
      label.form-check-label(for='flexSwitchCheckDefault') Hiển thị tất cả
  .table-responsive
    table.table.table-striped
      thead
        tr
          th #
          th Device
          th Username
          th Borrowed At
          th Expected Return Date
          th Actual Return Date
          th Status
          th Chức năng
      tbody#loanTableBody
        .warrper.text-center
          #spinner.spinner-border.text-primary(role='status')
                span.visually-hidden Loading...
  
  .d-flex.justify-content-between.justify-content-center.align-items-center.mt-4.mb-4
    style.
      @media (max-width: 768.98px) {
        #showingInfo {
          display: none; 
        }
      }
    p#showingInfo.text-muted() Showing 0 of 0 total Users
    nav(aria-label='Page navigation')
      ul#pagination.pagination(style='margin-bottom: unset')

    .input-group(style='width: 100px;')
      input#pageInput.form-control(type='number' min='1' max='1' value='1')
      button.btn.btn-primary(onclick='goToPage()') Go
      // Data will be dynamically inserted here

// Modal for displaying supplier details
#recordModal.modal.fade(tabindex='-1' aria-labelledby='recordModalLabel' aria-hidden='true')
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        h5#recordModalLabel.modal-title Thông tin chi tiết
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        div#updateRecordForm
          .mb-3
            a#btnCallUser.btn.badge.bg-dark(href='') Gọi điện
            a#btnSendMailUser.btn.badge.bg-light.text-dark.ms-3(href='') Gửi mail
          .mb-3
            label.form-label(for='fullname') Full Name
            input#fullname.form-control(type='text' name='fullname' readonly='')
          .mb-3
            label.form-label(for='username') Username
            input#username.form-control(type='text' name='username' readonly='')
          .mb-3
            label.form-label(for='device') Device
            input#device.form-control(type='text' name='device' readonly='')
          .mb-3
            label.form-label(for='borrowedAt') Borrowed At
            input#borrowedAt.form-control(type='text' name='borrowedAt' readonly='')
          .mb-3
            label.form-label(for='expectedReturnDate') Expected Return Date
            input#expectedReturnDate.form-control(type='text' name='expectedReturnDate' readonly='')
          .mb-3
            label.form-label(for='actualReturnDate') Actual Return Date
            input#actualReturnDate.form-control(type='text' name='actualReturnDate' readonly='')
          .mb-3
            label.form-label(for='transactionStatus') Transaction Status
            input#transactionStatus.form-control(type='text' name='transactionStatus' readonly='')



script.
  var mockData = !{data};
script.

script(src="/javascript/report/loanRecord.js") 