include ../../main.pug
link(href='/css/report/reportDevice.css' rel='stylesheet')

section.container
  h2.text-center.mb-4 Danh sách thiết bị trong kho
  .mb-3
    input#searchInput.form-control(type='text' autocomplete='off' placeholder='Tìm kiếm theo tên hoặc loại thiết bị')
  .table-responsive
    table.table.table-striped
      thead
        tr
          th(scope='col') Tên thiết bị
          th(scope='col') Loại thiết bị;
          th(scope='col') Tình trạng
          th(scope='col') Trạng thái
          th(scope='col') Vị trí
          th(scope='col') Ngày mua
          th(scope='col') Ngày hết hạn (dự kiến)
          th(scope='col') Chức năng
      tbody#deviceLoanTableBody
        // JavaScript will populate table rows from mockdata
  .mb-3
    button#downloadBtn.btn.btn-primary.w-100(onclick="window.location.href = '/export'") Download CSV
  .mb-3
    button#downloadBtn.btn.btn-info.w-100.mt-20(onclick="window.location.href = '/sendemail'") Get all history data through email

// ===Modal===
style.
  /* Add your custom styles here if needed */
  .deviceModal {
  }
#deviceModal.modal.deviceModal.fade(tabindex='-1')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h5.modal-title Device Information
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      #modalBody.modal-body
        // Device information will be displayed here
        style.
          /* Custom CSS styles */
          /* Custom CSS styles */
          .device-info {
          padding: 20px;
          }
          .device-info img {
          max-width: 100%;
          height: auto;
          }
          .video-container {
          margin-top: 20px;
          position: relative;
          }
          #toggleButton {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 30px;
          height: 1px;
          background-color: #000;
          border: none;
          cursor: pointer;
          }
// Device render
script.
  // Mock data for device loans
  var mockData = {
  devices: !{formattedDevices}
  };
  var devicetypes = !{devicetypes}
  var locations = !{locations}
  var suppliers = !{suppliers}

script(src="/javascript/report/reportDevice.js") 