include ../../main.pug
link(href='/css/report/reportDevice.css' rel='stylesheet')

section.container
  h2.text-center.mb-4 Danh sách thiết bị trong kho
  .mb-3
    input#searchInput.form-control(type='text' autocomplete='off' placeholder='Tìm kiếm theo tên hoặc loại thiết bị')
  .table-container
    table.table.table-striped
      thead
        tr
          th(scope='col') T&ecirc;n Thi&#x1EBF;t b&#x1ECB;
          th(scope='col') Lo&#x1EA1;i Thi&#x1EBF;t b&#x1ECB;
          th(scope='col') Tr&#x1EA1;ng th&aacute;i
          th(scope='col') V&#x1ECB; tr&iacute;
          th(scope='col') Ng&agrave;y M&#x1B0;&#x1EE3;n
          th(scope='col') Ng&agrave;y Tr&#x1EA3; (D&#x1EF1; ki&#x1EBF;n)
          th(scope='col') Ch&#x1EE9;c n&abreve;ng
      tbody#deviceLoanTableBody
        // JavaScript will populate table rows from mockdata
// ===Modal===
style.
  /* Add your custom styles here if needed */
  .deviceModal {
  }
#deviceModal.modal.deviceModal(tabindex='-1')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h5.modal-title Device Information
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      #modalBody.modal-body
        // Device information will be displayed here
        style.
          /* Custom CSS styles */
          /* Custom CSS styles */
          .device-info {
          padding: 20px;
          }
          .device-info img {
          max-width: 100%;
          height: auto;
          }
          .video-container {
          margin-top: 20px;
          position: relative;
          }
          #toggleButton {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 30px;
          height: 1px;
          background-color: #000;
          border: none;
          cursor: pointer;
          }
// Device render
script.
  // Mock data for device loans
  var mockData = {
  devices: !{formattedDevices}
  };

script(src="/javascript/report/reportDevice.js") 