include ./partials/header.pug

body
  include ./components/navigation.pug
  block content
    #content.content
      h2 Main Content
      .table-container
        table.table
          thead
            tr
              th Column 1
              th Column 2
              th Column 3
          tbody
            tr
              td Data 1
              td Data 2
              td Data 3
            tr
              td Data 4
              td Data 5
              td Data 6
            tr
              td Data 7
              td Data 8
              td Data 9
            tr
              td Data 10
              td Data 11
              td Data 12
            tr
              td Data 13
              td Data 14
              td Data 15

