include ../main.pug

.container.mt-5
  h1.mb-4 Send Email with CSV Attachment
  form#emailForm(method='post' action='/sendEmailUpload')
    .mb-3
      label.form-label(for='userEmail') Recipient Email:
      input#userEmail.form-control(type='email' name='userEmail' required='')
    .mb-3
      label.form-label(for='csvFile') Select CSV File:
      select#csvFile.form-select(name='csvFile' required='')
        option(selected='' disabled='') Select CSV File
        each filename in filesnamecsv
            option(value=filename) #{filename}
    button.w-100.btn.btn-primary(type='submit') Send Email

