doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Download XLSX
h1 Download XLSX File
form(action='/xlsx/download' method='post')
  label(for='filename') Select Filename:
  select#filename(name='filename' required='')
    each file in data
        option(value=file) #{file}

  button(type='submit') Download
