include ../../main.pug
link(href='/css/user/loginForm.css' rel='stylesheet')
script(src="/javascript/user/loginForm.js") 

.content
    .wrapper
        h2.mb-4 &Dstrok;&abreve;ng Nh&#x1EAD;p
        div#loginForm(method='post')
            .mb-3
            label.form-label(for='username') T&ecirc;n &dstrok;&abreve;ng nh&#x1EAD;p:
            input#username.form-control(autocomplete='off', type='text', name='username', required='' value="Huy")
            .mb-3
            label.form-label(for='password') M&#x1EAD;t kh&#x1EA9;u:
            input#password.form-control(type='password', name='password', required='', value="12345")
            button.btn.btn-primary(onclick='handleLogin(event)' style='width: 100%; margin-top: 20px;') &Dstrok;&abreve;ng Nh&#x1EAD;p
            .text-center(style='margin-top: 50px; border: 1px solid #ccc; border-radius: 8px;')
                a.btn(href='./register') Still haven&apos;t account, register here!


