include ../../partials/header.pug

//- Truyền biến JavaScript vào Pug bằng cách sử dụng `locals`
- var navUrl = ['login', 'register']
- var local = 'user'
mixin article({navUrl, local})
  include ../../components/navigation.pug 
//- Sử dụng biến JavaScript trong mixin
+article({navUrl, local})

style. 
    section.content {
        max-width: 100%
    }
    .wrapper {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

.content
    .wrapper
        h2.mb-4 &Dstrok;&abreve;ng Nh&#x1EAD;p
        div#loginForm(method='post')
            .mb-3
            label.form-label(for='username') T&ecirc;n &dstrok;&abreve;ng nh&#x1EAD;p:
            input#username.form-control(autocomplete='off', type='text', name='username', required='' value="Huy")
            .mb-3
            label.form-label(for='password') M&#x1EAD;t kh&#x1EA9;u:
            input#password.form-control(type='password', name='password', required='', value="12345")
            button.btn.btn-primary(onclick='handleLogin(event)' style='width: 100%; margin-top: 20px;') &Dstrok;&abreve;ng Nh&#x1EAD;p
            .text-center(style='margin-top: 50px; border: 1px solid #ccc; border-radius: 8px;')
                a.btn(href='./register') Still haven&apos;t account, register here!

script.
    async function handleLogin(event) {
        await axios.post('/user/login', {
          username: document.querySelector('#username').value,
          password: document.querySelector('#password').value,
        }).then(result => {
            console.log(result)
            if (result.data.check) {
                alert('Đăng nhập thành công!')
                window.location.assign(window.location.origin  + '/user/login');
            }
            
        }).catch(err => {
            console.log(err)
            if (!err.response.data.check) {
                alert('Đăng nhập thất bại, vui lòng kiểm tra lại tên người dùng hoặc mật khẩu')
            }
        })
    }

script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js')
