include ../../partials/header.pug
//- Truyền biến JavaScript vào Pug bằng cách sử dụng `locals`
- var navUrl = ['login', 'register']
- var local = 'user'
mixin article({navUrl, local})
  include ../../components/navigation.pug 
//- Sử dụng biến JavaScript trong mixin
+article({navUrl, local})

style. 
    .content {
        max-width: 100%
    }
    .wrapper {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

body
    block content
        .content
            .wrapper
                h2.mb-4 Đăng Ký
                div#registerForm
                    .mb-3
                        label.form-label(for='username') Tên đăng nhập: (user.username)
                        input#username.form-control(type='text', name='username', required='' value="Nguyen Anh Tu")
                    .mb-3
                        label.form-label(for='password') Mật khẩu: (user.password | default = 12345)
                        input#password.form-control(type='password', name='password', required='' value="12345")
                    .mb-3
                        label.form-label(for='id_student') Mã sinh viên: (user.studentID)
                        input#id_student.form-control(type='text', name='studentID', required='' value="20E12345")
                    .mb-3
                        label.form-label(for='email') Email: (user.email)
                        input#email.form-control(type='email', name='email', required='' value="nguyenanhtu@gmail.com")
                    .mb-3
                        label.form-label(for='phoneNumber') Số điện thoại: (user.phone)
                        input#phoneNumber.form-control(type='tel', name='phone', pattern='[0-9]{10}' value="0987654321")
                        small.text-muted Vui lòng nhập số điện thoại gồm 10 chữ số.
                    button.btn.btn-primary(onclick='handleRegister(event)' style='width: 100%;') Đăng Ký
                    .text-center(style='margin-top: 50px; border: 1px solid #ccc; border-radius: 8px;')
                        a.btn(href='./login') Return login page

script.
    async function handleRegister(event) {
        await axios.post('/user/register', {
          username: document.querySelector('#username').value,
          password: document.querySelector('#password').value,
          studentID: document.querySelector('#id_student').value,
          email: document.querySelector('#email').value,
          phone: document.querySelector('#phoneNumber').value
        }).then(result => {
            console.log(result)
            if (result.data.check) {
                alert('Đăng kí thành công!')
                window.location.assign(window.location.origin  + '/user/login');
            }
            
        }).catch(err => {
            console.log(err)
            if (!err.response.data.check) {
                alert('Đăng kí thất bại, vui lòng thử tên người khác')
            }
        })
    }

script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js')
